<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="smtp-style.css">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to pinguigram!</h1>

    <p>
        Click the button to confirm your email, after activation you will get full access to the pinguigram messenger.
    </p>
    
    <div>
        <a href="http://localhist:3000/confirmemail/{{.confirmLink}}">Activate email</a>
    </div>
</body>
</html>